html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@media (min-width: 1600px) {
  .hero-section,
  .news-custom-layout,
  .doctor-section,
  .clinic-info-section,
  .dependent-profiles-container,
  .user-profile-container {
    max-width: 90vw;   /* ăn theo 90% chiều ngang màn hình */
  }
}